{% extends 'base.html.twig' %}

{% block title %}Witaj Świecie!{% endblock %}

{% block body %}
<div>
    <h1>Witaj Świecie!</h1>
    <p>Witaj na mojej pierwszej stronie w Symfony!</p>

</div>
{% endblock %}